.hexagon {
    fill: #00a;
    transition: fill 0.2s;
}

.hexagon.hovered {
    fill: #aa0;
    transition: fill 0.2s;
}

.hexagon.hovered > polygon {
    stroke: #a00;
    stroke-width: 0.1;
}

.hexagon.selected {
    fill: #ff0;
    transition: fill 0.5s;
}

.hexagon.selected > polygon {
    stroke: #a00;
    stroke-width: 0.1;
}

.hexagon.selected.hovered {
    fill: #fff;
}

.hexagon.selected.hovered > polygon {
    stroke: #a00;
    stroke-width: 0.1;
}

.hexagon.highlighted {
    fill: blue;
}

.hexagon.showCoordinates > text.axis {
    fill: #fff;
    font-size: 2px;
    font-family: sans-serif;
}

.hexagon.text > text.text {
    fill: #fff;
    font-size: 3px;
    font-family: sans-serif;
}
